.jumbotron.text-center
  p.lead So ok! Wanna know how much you earn/hour based on your fixed salary?
  
  .row
    .col-md-6.col-md-offset-3

      form.form-horizontal
        .form-group
          label.col-sm-4.control-label(for='income') What's your salary?
          .col-sm-5
            .input-group
              span.input-group-addon
                span.glyphicon.glyphicon-euro
              input#income.form-control(type='number', ng-model='income', ng-change='vm.calculate.pph(income)')
          .col-sm-3
            select.form-control(ng-model="type")
              option(value="") Schedule
              option(value="8") Full time
              option(value="4") Part time

        
      br
      div(ng-if='vm.total && type')
        p.text-center
          | You earn 
          b {{vm.total | currency:"€ ":2}}
          |  a day, or 
          b {{vm.total / type | currency:"€ ":2}}
          |  per hour
        
        small.text-center
          | The math was done in relation to the number of business days of the current month
        
