/*
 * http://www.hagenburger.net/BLOG/3d-Github-badge-with-pure-CSS3.html
 */

.github-fork {
  position: fixed;
  z-index: 999999;
  right: -65px;
  bottom: 40px;

  width: 250px;
  height: 30px;

  @include rotate(-45deg);
  span {
    position: absolute;
    left: 0;

    width: 250px;
    padding: 5px 0;

    text-align: center;

    color: $gray-lighter;
    background: transparentize($brand-danger, .1);

    font-size: 14px;

    @include box-shadow(transparentize($gray-base, .5) 1px 1px 10px);
    /*@include transition(all .25s);*/
    &:last-child {
      opacity: 0;
      background: $gray-lighter;
      color: $gray-base;
      i{
        color: $brand-danger;
      }
    }
  }
  &:hover span {
    &:first-child {
      opacity: 0;
    }
    &:last-child {
      opacity: 1;
    }
  }
}

@media all and (-webkit-transform-3d) {
  .github-fork {
    span {
      opacity: 1 !important;
      -webkit-backface-visibility: hidden;
      -webkit-transition: -webkit-transform .25s;
      &:last-child {
        -webkit-transform: rotateX(180deg);
      }
    }
    &:hover span {
      &:first-child {
        -webkit-transform: rotateX(180deg);
      }
      &:last-child {
        -webkit-transform: rotateX(360deg);
      }
    }
  }
}
