div
  nav.navbar.navbar-static-top.navbar-inverse
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/')
          img(src='assets/logo.png', alt='')
          |           IncCalc
      
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(ui-sref="root.income") Income Calculator
          li
            a(ui-sref="root.pph") Income to PPH
          li
            a(ui-sref="root.decimal") Decimals
        ul.nav.navbar-nav.navbar-right
          li
            a(href='https://github.com/zsys/inccalc' target="_blank") Fork this. Submit a PR. Be social.
