div
  nav.navbar.navbar-static-top.navbar-inverse
    .container-fluid
      .navbar-header
        a.navbar-brand(href='/')
          img(src='assets/logo.png', alt='')
          |           IncCalc
      
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li.active
            a(ng-href='#') Income Calculator
          li
            a(ng-href='#') Income to PPH
          li
            a(ng-href='#') Stats
        ul.nav.navbar-nav.navbar-right
          li
            a(href='https://github.com/pcbulai/app') Fork this. Submit a PR. Be social.
