div
  nav.navbar.navbar-static-top.navbar-inverse(role="navigation")
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', aria-expanded='false', ng-click="navbarCollapsed = !navbarCollapsed")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar


        a.navbar-brand(ui-sref="root.really")
          img(src='assets/logo.png', alt='')
          | inCalc
      
      nav.collapse.navbar-collapse(collapse="!navbarCollapsed")
        ul.nav.navbar-nav
          li(ui-sref-active="active")
            a(ui-sref="root.income") Income Calculator
          li(ui-sref-active="active")
            a(ui-sref="root.pph") Income to PPH
          li(ui-sref-active="active")
            a(ui-sref="root.decimal") Decimals
