.jumbotron.text-center
  p.lead Welcome!
  
  p
  | So you decided to calculate your income, didn't ya'? Or perhaps make some calculation of a gig? Or convert your fixed income into hourly rate.
  | Regardless of your reasons, you can do some basic calculations with this app.
  
  p
  | By the way, the app doesn't track any kind of information about you. Maybe I'll add Google Analytics but even then I won't track your data.
  
  br
  br

  p.lead Enjoy!
